.bg-file-label #bg-browse-file {

	position: fixed;
	top: -2000px;

}

.bg-file-label {

	display: inline-block !important;
	font-weight: normal !important;
	padding: 2px 6px;

}

.bg-file-wrapper {

	margin-top: 10px;
	margin-bottom: 30px;

}